:root {
--sky-blue: #87CEEB;
--sky-blue-light: #b0e0e6;
--sky-blue-lighter: #d4f1f9;
--sky-blue-dark: #023265;
--sky-blue-darker: #01264d;
--sky-blue-accent: #0f024de4;
--sky-blue-text: #3a6073;
--sky-blue-border: #87CEEB;

  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  /* Line Heights */
  --line-height-base: 1.5;
  --line-height-tight: 1.2;

  /* Letter Spacing */
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.05em;
}

@font-face {
  font-family: 'Nirmala';
  src: url('../fonts/Nirmala.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nirmala', sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: #333;
  /* max-width: 1440px; */
  margin: auto;
  /* padding: 0 12px; */
}


h1, h2, h3 {
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  color: var(--sky-blue-accent);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h4{
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  color: var(--sky-blue-darker);
}

h5 {
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  color: var(--sky-blue-darker);
}
p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

a {
  text-decoration: none;
}
i {
  color: linear-gradient(90deg, #023265, #0f024de4, #01264d);
  animation: gradientAnimation 6s ease infinite;
}
/* Bottom Nav Styles */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spinner::before,
.spinner::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
}

.spinner::before {
  top: -20px;
  left: -20px;
  border-top-color: #e74c3c;
  animation: spin-before 2s linear infinite;
}

.spinner::after {
  bottom: -20px;
  right: -20px;
  border-bottom-color: #2ecc71;
  animation: spin-after 2.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin-before {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@keyframes spin-after {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

#header {
  background-color: #000000;
  padding-bottom:  2em;
}
.animated-text-header {
  background: linear-gradient(90deg, #d6d5dd, #9f8ecc, #ec869e);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2em auto;
  background-clip: text;
  color: transparent;
  animation: gradient-shift 4s ease infinite;
  line-height: 1.2;
}
.slider {
  background-color: #CECECE ;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(222, 224, 225, 0.3);
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, #d6d5dd, #dfdce8, #939292);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;
}

.slider-container {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slider-content {
  display: flex;
  width: fit-content;
}

.slider-track {
  display: flex;
  flex-wrap: nowrap;
  animation: slide 15s linear infinite;
}

.slider-item {
  padding: 15px 30px;
  font-size: 16px;
  color: #333;
  border-right: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  color: #ffffff !important;

}

.slider-item:last-child {
  border-right: none;
}

.slider-item .icon {
  margin-right: 10px;
  color: #4a90e2;
}

/* Smooth scrolling effect */
@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

/* Pause on hover */
.slider-container:hover .slider-track {
  animation-play-state: paused;
}

/* Responsive */
@media (max-width: 600px) {
  .slider-item {
      padding: 10px 15px;
      font-size: 14px;
  }
}


/* Navbar Items */
#navItems {
  display: flex;
  color: var(--sky-blue-lighter);
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navItems li a{
  color: #000;
}

/* Mobile Menu (Slider from Right) */
.mobile-menu {
  position: fixed;
  right: -250px; /* Initially hidden off-screen to the right */
  top: 0;
  bottom: 0;
  width: 250px;
  color: white;
  z-index: 1001;
  transition: right 0.3s ease-in-out;
  padding-top: 50px; /* For close button */
}

.mobile-menu.active {
  right: 0; /* Slide in the mobile menu from right */
}

.mobile-menu .nav-link {
  color: white;
  font-size: 18px;
  padding: 10px;
}

.mobile-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: black; /* Close icon color */
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Hide Council Name on Mobile */
#councilName {
  display: none;
}

@media (min-width: 992px) {
  /* Hide the mobile menu on larger screens */
  .mobile-menu {
    display: none;
  }
  /* Hide mobile language dropdown on larger screens */
  .lang-item.d-md-none {
    display: none;
  }
  /* Show language buttons on larger screens */
  .lang-item.d-md-flex {
    display: flex;
  }
}

/* Navbar Toggler for Mobile */
.navbar-toggler {
  border: none;
  background-color: transparent;
}


.primary-btn {
  /* color: white; */
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.primary-btn:hover {
  background: linear-gradient(135deg, #0056b3, #003d82);
  box-shadow: 0 6px 15px rgba(0, 91, 187, 0.5);
  transform: translateY(-3px);
  color: white;
}

nav a:hover {
  color: var(--sky-blue-dark) !important;
}
nav a:active {
  color: var(--sky-blue-darker) !important;
}

.Section .container {
  margin-bottom: 4em;
  padding: 0;
}


.active-lang {
  font-weight: bold;
  color: var(--sky-blue-darker);
}
.active-lang.active {
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid var(--sky-blue);
  background: linear-gradient(135deg, #0056b3, #003d82);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

  /* Nested submenu styles */
 /* .dropdown-menu  {
  background: linear-gradient(90deg, #023265, #0f024de4, #01264d);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;
 } */

  .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  display: none;
  position: absolute;

}

/* Show submenu on hover */
.dropdown-submenu:hover .dropdown-menu {
  display: block;

}

.carousel-boxed {
  max-width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.carousel-item img {
  object-fit: cover;
  width: 100%;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.4); /* Optional: background behind text */
  border-radius: 8px;
  padding: 1rem;
}
.carousel-indicators {
  position: absolute;
  bottom: 20px; /* Adjust if needed */
}

.carousel-indicators [data-bs-target] {
background-color: #4d0202bb;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid (var(--sky-blue-accent));
  opacity: 1;
  margin: 0 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-indicators .active {
  background-color : #bd091bf5;
  transform: scale(1.2); /* Slightly enlarge active dot */
}

.slider  .carousel-control-prev{
  width: 2%;
  color: #000 !important;
  background: linear-gradient(90deg, #65022fa5, #4d0202bb, #bd091bf5);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;}

.slider  .carousel-control-next {
  width: 2%;
  color: #000 !important;
  background: linear-gradient(90deg, #65022fa5, #4d0202bb, #bd091bf5);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;}

.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.notice-alert {
  /* background: linear-gradient(90deg, #65022fa5, #4d0202bb, #bd091bf5); */
  background: #000;
}

.news .card-title{
  margin-top:  1em;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  color: #fff;
}

.news .card-text{
  color: #fff;
}

.news-card {
  background-color: #008000;
}
.news-card-1 {
  background-color: #0981D1;
}

.news-card-2 {
  background-color: #FFAA1D;
}
.news-card-3 {
  background-color: #660000;
}

.news-card {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.card:hover {
  background-color: white !important;
  color: black !important;
}

/* Ensure text and icons remain visible on hover */
.news-card:hover i,
.news-card:hover h5,
.news-card:hover p {
  color: black !important;
}
.news-card-1:hover i,
.news-card-1:hover h5,
.news-card-1:hover p {
  color: black !important;
}
.news-card-2:hover i,
.news-card-2:hover h5,
.news-card-2:hover p {
  color: black !important;
}.news-card-3:hover i,
.news-card-3:hover h5,
.news-card-3:hover p {
  color: black !important;
}


.chairman-section {
  background-color: #000;
  color: #fff !important;
}

.chairman-section h2{
  color: #fff !important;
}

.chairman-section h5{
  color: #d4f1f9 !important;
}

.quote-icon {
  font-size: 50px;
  color: #fff
}

.chairman-section {
  background: linear-gradient(90deg, #023265, #0f024de4, #01264d);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;
  border-radius: 4px;
}

.chairman-text {
  font-size: 18px;
  font-style: italic;
}
.info-img {
  height: 78%;
  width: 100%;
}

.service-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  border: 1px solid #ccc; /* Optional: border for visualization */
  padding: 10px;
  align-items: center;
  text-align: center;
  color: var(--sky-blue-lighter);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(90deg, #023265, #0f024de4, #01264d);
  background-size: 300% 300%;
  animation: gradientAnimation 6s ease infinite;
}

.service-box:hover {
  transform: translateY(-5px);
}

.service-box .service-img {
  width: 29px;
}
.service-box i {
  width: 24px;
}

.services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.service-box h4, .service-box p {
  margin-top: 10px;
  color: #fff !important;
}


.text-container {
  text-align: center;
}

.animated-text {
  background: linear-gradient(90deg, #422de2, #3c00e0, #ff144b);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2em auto;
  background-clip: text;
  color: transparent;
  animation: gradient-shift 4s ease infinite;
  line-height: 1.2;
}

@keyframes gradient-shift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .animated-text {
      font-size: 2.2rem;
      letter-spacing: 2px;
  }
}